@model List<Product>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Add" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Add New Product
                </a>
            </div>
        </div>

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var product in Model){
               <tr>
                    <td>@product.Title</td>
                     <td>@product.ISBN</td>
                        <td>@product.Price</td>
                        <td>@product.Author</td>
                        <td>@product.Category.Name</td>
                        <td>
                            <a asp-for="ProductController" asp-action="Edit" class="bg-warning text-decoration-none text-secondary p-2 rounded-3" asp-route-id="@product.Id">Edit</a>
                            <a asp-for="ProductController" asp-action="Delete" class="bg-danger text-decoration-none text-light p-2 rounded-3" asp-route-id="@product.Id">Delete</a>
                        </td>
               </tr>}
            </tbody>
        </table>

    </div>
</div>



<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded"> 
                      
                            <img src="@product.ImageUrl" class="card-img-top rounded" />
                        
                        
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price: 
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">As low as: 
                                    <span>
                                        @product.Price100.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Detail"
                            asp-route-productId="@product.Id"
                            class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>